@import 'base.css';

.content {
    height: 86vh;
    padding: 2.5vh 15vw;
    justify-items: center;

}

.document-table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
}
.document-table th, .document-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}
.document-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.document-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.document-table tr:hover {
    background-color: #f1f1f1;
}
.download-link {
    color: #007BFF;
    text-decoration: none;
}
.download-link:hover {
    text-decoration: underline;
}