@import 'base.css';

.content{
    display: flex;
    height: 86vh;
    padding: 5vh 15vw;
    align-content: center;
    align-items: center;
}

.folders__container{
    width: 59%;
    height: 80%;
}

.folders__line{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 2vh;
}

.folders__line:not(:last-child) {
    margin-bottom: 1vh;
}

.folder__container {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.folder__icon {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder__title {
    width: 82%;
    font-size: 18px;
    padding: 2.3vh 0.9vw 0 0;
    color: #000000;
    margin: 0;
    text-align: center;
    position: absolute;
}

.news__list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 41%;
    height: 60%;
    padding: 3% 3%;

}

.news__container__title {
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 7%;
}

.news__container {
    display: block;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #619d44;
    padding: 10px;
    background-color: #f9f9f9;
}

.news__container:hover {
    border-color: black;
    cursor: pointer;
}

.news__container:not(:last-child) {
    margin-bottom: 3% ;
}

.news__title {
    font-size: 18px;
    text-align: center;
    color: black;
}

.add-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: black;
}

.add-button-container {
    margin-bottom: 20px;
    text-align: right;

}



