{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/commissariats.css') }}">
{% endblock styles %}

{% block content %}
{% if commissariats %}
    <table class="commissariat-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Адрес</th>
                <th>ФИО Уполномоченного</th>
                <th>Сайт</th>
            </tr>
        </thead>
        <tbody>
            {% for commissariat in commissariats %}
            <tr>
                <td>{{ commissariat.name }}</td>
                <td>{{ commissariat.address }}</td>
                <td>
                    {{ commissariat.commissioner.name }}
                    {{ commissariat.commissioner.surname }}
                    {{ commissariat.commissioner.patronymic }}
                </td>
                <td>
                    {% set main_url = commissariat.urls | selectattr('type', 'equalto', 'main') | first %}
                    {% if main_url %}
                        <a href="{{ main_url.url }}" target="_blank">{{ main_url.url }}</a>
                    {% else %}
                        Не указана
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
Список пуст
{% endif %}
{% endblock %}
