{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock styles %}
{% block content %}
<div class="folders__container">
    <div class="folders__line">
        <a class="folder__container" href="{{ url_for('documents_router.page', category='regulatory_document') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Нормативные документы</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='document_for_military_registration') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Перечень документов для ВУ</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('commissariats_router.page') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Адреса и ссылки</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='students') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Списки студентов</div>
            </div>
        </a>
    </div>

    <div class="folders__line">
        <a class="folder__container" href="{{ url_for('documents_router.page', category='contract_service_document') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Служба по контракту</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='alternative_civilian_service_document') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">АГС</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='military_training_camps') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Военные сборы</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='events') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Мероприятия</div>
            </div>
        </a>
    </div>

    <div class="folders__line">
        <a class="folder__container" href="{{ url_for('documents_router.archive') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Архив</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='gallery') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Галлерея</div>
            </div>
        </a>
        <a class="folder__container" href="{{ url_for('documents_router.page', category='patriotic_education') }}">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Патриотическое воспитание</div>
            </div>
        </a>
        <a class="folder__container">
            <div class="folder__icon" style="background-image: url({{ url_for('static', filename='icons/folder.svg') }});">
                <div class="folder__title">Контакты</div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
